#!/bin/bash

case $1 in
  up)
    export WORKSPACE_SERVICE="app"
    export COMPOSER_SERVICE="composer"
    set_laravel_aliases
    ;;
  down)
    unset WORKSPACE_SERVICE
    clear_laravel_aliases
    ;;
  *)
    ;;
esac

